<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PortalEntities" connectionString="metadata=res://*/Portal.csdl|res://*/Portal.ssdl|res://*/Portal.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.211.55.9;User Id=root;password=pbvu7000;Persist Security Info=True;database=Portal&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>