<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PortalEntities" 
         connectionString="metadata=res://*/Data.EF.Portal.csdl|res://*/Data.EF.Portal.ssdl|res://*/Data.EF.Portal.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;user id=chaos;password=ihPP0SXP1Y;server=stagemysql00.cpwvkgghf9fg.eu-west-1.rds.amazonaws.com;persist security info=True;database=Portal&quot;" 
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>