html, body, #Container
{
    padding: 0px;
    margin: 0px;
    
    min-height: 100%;
    min-width: 960px;
    position: absolute;
    width: 100%;
    
    font-family: Calibri;
    font-size: small;

}

#Header .Content, #Content .Content, #Footer .Content
{
    width: 960px;
    margin: auto;
}

#Header
{
    background: url('Header/450.gif') repeat;

    
    font-family: Segoe UI;
    font-weight: bold;
    font-size: x-large;
    color: #eee;
    
    padding: 1em 0em 1.25em 0em;
}

#Content
{
    position: relative;
    padding-bottom: 100px;
}

#PageStructure
{
    width: 100%;
}

#MenuArea
{
    width: 150px;
    vertical-align: top;
}

#ContentArea
{
    vertical-align: top;
}

.MenuGroup h2
{
    margin-left: 10px;
}

.MenuGroup ul li a
{
    color: #000;
    text-decoration: none;
}

.MenuGroup ul li a:hover
{
    font-weight: bold;
}

.MenuGroup ul li
{
    list-style-type: none;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-bottom: -1px;
    padding: 0em 0.5em;
}

.MenuGroup ul li:hover
{
    background-color: #eee;
}

.MenuGroup ul
{
    padding-left: 20px;
    padding-right: 20px;
}

#Footer
{   
    background: url('Header/450.gif') repeat; 
    
    bottom: 0;
    height: 50px;
    position: absolute;
    width: 100%;
    
    color: #eee;
    
    padding-top: 1em;
}

.ui-jqgrid-labels
{
    text-align: center;
}