_ReSharper*

bin
!/tools/*/bin
!/bin

obj

.DS_Store

Thumbs.db

*.user

*.suo

*.xap

*.bak

*.dat
*.log
*.Cache
*.StyleCop
*.ncrunchsolution
*.ncrunchproject
_NCrunch*
App.Config
deploy-db.bat

build
tests
Gemfile.lock
_NCrunch_Portal