<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="AnonymousUserGUID" value="C0B231E9-7D98-4F52-885E-AF4837FAA352"/>
  </appSettings>
  
  <connectionStrings>
    <add name="PortalEntities"
       connectionString="metadata=res://*/Portal.csdl|res://*/Portal.ssdl|res://*/Portal.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.211.55.9;User Id=Portal;password=GECKONpbvu7000;database=Portal;Persist Security Info=True&quot;"
       providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>