<?xml version="1.0" encoding="UTF-8"?>
<configuration>  
  <configSections>
    <section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase" />
  </configSections>

  <couchbase>
    <servers bucket="default" bucketPassword="">
      <add uri="http://ip-10-0-103-135.eu-west-1.compute.internal:8091/pools" />
      </servers>
  </couchbase>

  <appSettings>
    <add key="ServiceDirectory" value="C:\inetpub\wwwroot\Development\dev.ezarchive" />
    <add key="AnonymousUserGUID" value="c231a9c3-c3b2-cb80-9c7d-524fcb865ec2" />
    <add key="LOG_LEVEL" value="Debug" />
    <add key="SOLR_URL" value="http://ip-10-0-103-134.eu-west-1.compute.internal:8080/solr" />
  </appSettings>

  <connectionStrings>
    <add name="PortalEntities" connectionString="user id=devApp;password=SX0wQg3BCsZC80B;server=chaos-production.c8cntt9acv0x.eu-west-1.rds.amazonaws.com;persist security info=True;database=dev-portal;Allow User Variables=True;CharSet=utf8;" />
  </connectionStrings>

  <system.web>
    <customErrors mode="Off" />
    <pages validateRequest="false" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1024000" requestLengthDiskThreshold="10024000" />
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
	<security>
      <requestFiltering>
         <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
   </security>
    <handlers>
      <add name="*" verb="*" path="v6" type="CHAOS.Portal.Core.HttpModule.PortalHttpModule,CHAOS.Portal.Core.HttpModule" />
    </handlers>
        <httpRedirect enabled="false" destination="" />
  </system.webServer> 

  <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
          <dependentAssembly>
              <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
              <bindingRedirect oldVersion="4.5.0.0" newVersion="6.0.0.0" />
          </dependentAssembly>
      </assemblyBinding>
  </runtime>

</configuration> 