<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="AnonymousUserGUID" value="C0B231E9-7D98-4F52-885E-AF4837FAA352"/>
    <add key="AuthenticationProvider_EmailPassword_GUID" value="F9089905-3134-4A35-B475-9CA8EA9FDC26"/>
  </appSettings>
  
    <connectionStrings>
        <add name="Portal"
            connectionString="Data Source=192.168.56.102;Initial Catalog=Portal;Persist Security Info=True;User ID=sa;Password=GECKONpbvu7000"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>