<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="AnonymousUserGUID" value="C0B231E9-7D98-4F52-885E-AF4837FAA352"/>
    <add key="AuthenticationProvider_EmailPassword_GUID" value="F9089905-3134-4A35-B475-9CA8EA9FDC26"/>
  </appSettings>
  
  <connectionStrings>
      <add name="PortalEntities" 
            connectionString="metadata=res://*/Portal.csdl|res://*/Portal.ssdl|res://*/Portal.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.56.104;User Id=root;password=GECKONpbvu7000;database=Portal;Persist Security Info=True&quot;" 
            providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>