<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <connectionStrings>
        <add name="Portal"
            connectionString="Data Source=192.168.56.101;Initial Catalog=Portal;Persist Security Info=True;User ID=sa;Password=GECKONpbvu7000"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>