<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Geckon.Portal.Data.Properties.Settings.PortalConnectionString7"
            connectionString="Data Source=192.168.56.102;Initial Catalog=Portal;Persist Security Info=True;User ID=sa;Password=GECKONpbvu7000"
            providerName="System.Data.SqlClient" />
        <add name="Geckon.Portal.Data.Properties.Settings.PortalConnectionString"
            connectionString="Data Source=(local);Initial Catalog=Portal;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Geckon.Portal.Data.Properties.Settings.PortalConnectionString1"
            connectionString="Data Source=RUNE-PC\SQLSERVER2008;Initial Catalog=Workspace;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Geckon.Portal.Data.Properties.Settings.MCMConnectionString"
            connectionString="Data Source=mssql.server00.geckon.com;Initial Catalog=MCM;Persist Security Info=True;User ID=sa;Password=GECKONpbvu7000"
            providerName="System.Data.SqlClient" />
        <add name="Geckon.Portal.Data.Properties.Settings.PortalConnectionString2"
            connectionString="Data Source=mssql.server00.geckon.com;Initial Catalog=Portal;Persist Security Info=True;User ID=sa;Password=GECKONpbvu7000"
            providerName="System.Data.SqlClient" />
        <add name="Geckon.Portal.Data.Properties.Settings.WorkspaceConnectionString"
            connectionString="Data Source=(local)\SQLSERVER2008;Initial Catalog=Workspace;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Geckon.Portal.Data.Properties.Settings.PortalConnectionString3"
            connectionString="Data Source=192.168.0.191;Initial Catalog=Portal;Persist Security Info=True;User ID=sa;Password=GECKONpbvu7000"
            providerName="System.Data.SqlClient" />
        <add name="Geckon.Portal.Data.Properties.Settings.PortalConnectionString4"
            connectionString="Data Source=RUNE-PC\SQLSERVER2008;Initial Catalog=Portal;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Geckon.Portal.Data.Properties.Settings.PortalConnectionString5"
            connectionString="Data Source=mssql.server01.geckon.com;Initial Catalog=Portal;User ID=sa;Password=GECKONpbvu7000"
            providerName="System.Data.SqlClient" />
        <add name="Geckon.Portal.Data.Properties.Settings.PortalConnectionString6"
            connectionString="Data Source=192.168.56.102;Initial Catalog=Portal;Persist Security Info=True;User ID=sa;Password=GECKONpbvu7000"
            providerName="System.Data.SqlClient" />
        <add name="Geckon.Portal.Data.Properties.Settings.PortalConnectionString8"
            connectionString="Data Source=192.168.56.101;Initial Catalog=Portal;Persist Security Info=True;User ID=sa;Password=GECKONpbvu7000"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>