<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!-- IIS 6 (and cassini) Hosting -->
    <httpModules>
      <add name="Portal" type="CHAOS.Portal.Core.HttpModule.Portal" />
    </httpModules>
  </system.web>
  
  <system.webServer>
    <!-- IIS 7 Hosting -->
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="Portal"/>
      <add name="Portal" 
           type="CHAOS.Portal.Core.HttpModule.Portal" 
           preCondition="managedHandler"/>
    </modules>
  </system.webServer>

</configuration>
