<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>
    <section name="membase" type="Membase.Configuration.MembaseClientSection, Membase" />
  </configSections>

  <membase>
    <servers bucket="default" bucketPassword="">
      <add uri="http://10.211.55.9:8091/pools/default" />
    </servers>
    <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:00:10"/>
  </membase>

  <appSettings>
    <add key="ServiceDirectory" value="C:\Users\JesperFyhr\Desktop\Portal\src\app\Geckon.Portal"/>
    <add key="AnonymousUserGUID" value="C0B231E9-7D98-4F52-885E-AF4837FAA352"/>
  </appSettings>

  <connectionStrings>
    <add name="PortalEntities"
         connectionString="metadata=res://*/Portal.csdl|res://*/Portal.ssdl|res://*/Portal.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.211.55.9;User Id=Portal;password=GECKONpbvu7000;database=Portal;Persist Security Info=True&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!-- IIS 6 (and cassini) Hosting -->
    <httpModules>
      <add name="Portal" type="CHAOS.Portal.Core.HttpModule.PortalHttpModule" />
    </httpModules>
  </system.web>
  
  <system.webServer>
    <!-- IIS 7 Hosting -->
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="Portal"/>
      <add name="Portal" 
           type="CHAOS.Portal.Core.HttpModule.PortalHttpModule" 
           preCondition="managedHandler"/>
    </modules>
  </system.webServer>

</configuration>
